<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <p></p>
    <div>X: <input type="text" v-model="num1"></div>
    <div>Y: <input type="text" v-model="num2"></div>
    <p>X plus Y is: {{ calculateSum() }}</p>
    <p>X times Y is: {{ calculateProduct() }}</p>
    <p>X divided by Y is: {{ calculateQuotient() }}</p>
    <p>X to the power of Y is: {{ calculateExponent() }}</p>
    <p>----------------------</p>
    <p>Comment Section:</p>
    <div v-for="number in numbers">
      <p>{{ number }}</p>
    </div>
    <input type="text" v-model="newNumber">
    <button v-on:click="addNumber()"> Add a Comment</button>
    <p></p>
    <button v-on:click="showInfo = !showInfo">Click me to see a secret!</button>
    <p v-if="showInfo">You're the Best!!</p>
    <p></p>
  </div>

</body>
</html>
